.header{
    
    height: 130px;
   display: flex;
   flex-direction: column;
}
.header-row{
margin-top: auto;
margin-bottom: auto;
}
.title{
   
    font-size: 48px;
    text-align: center;   
    color: #231f20; 
    margin-left: auto;
    margin-right: auto;
   
    
}
